/*------------------------------------------------------------------
 * Theme Name: CabHost v1.0 Responsive Landing page
 * Author: coodiv
 * Author URI: http://coodiv.net/
 * Author URI: https://themeforest.net/user/coodiv
 * Description: A Bootstrap Responsive Landing page + WHMCS
 * Version: 1.0
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2017 coodiv.
 -------------------------------------------------------------------*/

/*------------------------------------------------------------------

 responsive style

-------------------------------------------------------------------*/

@media screen and (max-width: 699px) {
.clients-side{margin:0}

.pricing-table-active {
    margin: 30px 0;
}


.mobile-center{
    text-align: center;
}
	
.mobile-center{
    text-align: center;
}

.nav>li>a {
    padding: 20px 26px;
	border: 0!important
}

#domain-search input[type="text"]{
    width: 100%;
}
#domain-search .srch-btn {
    top: 23px;
    right: 29px;
	margin-left:0
}

#fifth-section .col-md-5 {
    display:none;
}

#fifth-section {
    padding: 2px 0;
}

.help-center h3 {
    text-align: center;
}

.help-center h3>span {
    display: inline-block;
}


.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    background: #fff;
	box-shadow: 0px 9px 49px 2px rgba(0, 0, 0, 0.1);
}
	
	.sponsor-place{
    display:none;
    }
	
	#fifth-section .col-md-5 {
    display:none;
	}

}


@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}


@media (min-width: 768px) and (max-width: 991px) {
	.homepage-tabs .col-md-3{
	 width: 50%;
     float: left;
	}
	
	.tablet-full-width {
    width: 100%;
    padding: 0 50px;
    }
	
	.pricing-table{
	max-width: 350px;
    margin: auto;
    margin-bottom: 40px;
	}
	
	
	.do-area {
    margin-top: 40px;
	text-align: center;
	}
	
	.do-area .col-md-4 {
    margin-top: 23px;
    }

	#fourth-section {
    padding-top: 70px;
    padding-bottom: 20px;
    }
	
	#fourth-section  .col-md-3{
    width: 25%;
	float: left;
    }
	
	#fourth-section  .col-md-4{
    width: 33%;
	float: left;
    }
	
	
	.sponsor-place{
    display:none;
    }

	#fourth-and-half-section {
    background-position-y: 77%;
    }

	#fifth-section .col-md-5 {
    display:none;
	}
	
	
	.help-center h3 {
    text-align: center;
    }
	
	.help-center h3>span {
	margin: auto;
    margin-top: 14px;
	}
	
	
	#our-place .col-md-6 {
    width: 50%;
    float: left;
	}

	
	
	    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
	
	.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    background: #fff;
	box-shadow: 0px 9px 49px 2px rgba(0, 0, 0, 0.1);
}
	
	
}


