/*------------------------------------------------------------------
 * Theme Name: CabHost v1.0 Responsive Landing page
 * Author: coodiv
 * Author URI: http://coodiv.net/
 * Author URI: https://themeforest.net/user/coodiv
 * Description: A Bootstrap Responsive Landing page + WHMCS
 * Version: 1.0
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2017 coodiv.
 -------------------------------------------------------------------*/

/*------------------------------------------------------------------

[Table of contents]

1. General Styles
2. button and background
3. header
4. navbar
5. domain search style
6. first section style
7. second section style
8. pricing table style
9. third section style
10. fourth and half section style
11. our place section style
12. fifth section style
13. social icons style
14. contact form style
15. footer style

-------------------------------------------------------------------*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,900');

/*------------------------------------------------------------------
	1. General Styles
-------------------------------------------------------------------*/


ul{
list-style:none;
padding:0:
}

li{
list-style:none;
padding:0:
}


* {

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


*:hover {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


*,body{
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease 0.0s;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .vertical-centered-box:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body .vertical-centered-box .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


/*------------------------------------------------------------------
	2. button and background
-------------------------------------------------------------------*/


.bluebk{
	background-color: #88c6f0;
}

.bluebk:hover,.bluebk:focus{
    background-color: #7fb8de;
}

.greenbk{
	background-color: #92d89d;
}

.greenbk:hover,.greenbk:focus{
    background-color: #87ca91;
}

.btn-sixths{
    display: block;
    color: #1f334b;
    font-size: 13px;
    font-weight: 700;
    padding: 12px 35px;
    border-radius: 60px;
    text-decoration: none;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.1);
    max-width: 150px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    background: #fff;
}

.btn-sixths:hover{
	transform: scale(1.04);
    color: #1f334b;
    text-decoration: none;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.3);
    background: #edeef1;
}
.rg-bttn{
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 11px 20px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 12px 15px 0 rgba(37, 61, 88, 0.14);
    text-transform: inherit;
}

.rg-bttn:hover,.rg-bttn:focus{
    box-shadow: 0 12px 15px 0 rgba(37, 61, 88, 0.2);
    color: #ffffff;
    text-decoration: none;
}

.df-bttn{
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 11px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 12px 15px 0 rgba(37, 61, 88, 0.14);
    max-width: 130px;
    margin: auto;
    margin-top: 35px;
    text-transform: uppercase;
}


.df-bttn:hover,.df-bttn:focus{
    box-shadow: 0 12px 15px 0 rgba(37, 61, 88, 0.2);
    color: #ffffff;
    text-decoration: none;
}   

.dff-bttn{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 11px 35px;
    margin-top: 27px;
    display: -webkit-inline-box;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 12px 15px 0 rgba(37, 61, 88, 0.05);
} 
 
.dff-bttn:hover,.dff-bttn:focus{
    color: #fff;
    text-decoration: none;
    box-shadow: 0 12px 15px 0 rgba(37, 61, 88, 0.1);
} 
 
 
 /*------------------------------------------------------------------
	3. header
-------------------------------------------------------------------*/
header{
    height: 454px;
    position: relative;
    overflow: hidden;
}
.header-background{
	height: 75px !important;
    background: #fff !important;
    box-shadow: 0px 9px 49px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out !important;
}

.header-background .navbar-brand {
    height: auto;
    padding: 18px 15px !important;
}

.header-background .nav>li>a {
    padding: 27.5px 26px !important;
	border-bottom: 2px solid transparent;
    transition: all 0s ease-in-out !important;
}

.header-background .nav>li>a:hover {
    border-bottom: 2px solid #273e59;
	transition: all 0.4s ease-in-out !important;
}

.header-background .nav .active a {
    border-bottom: 2px solid #273e59;
	transition: all 0.4s ease-in-out !important;
}

.main-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 6rem;
    height: 104px;
    transform: translateY(0);
    transform: translate3d(0,0,0);
    transition: .25s transform;
    backface-visibility: hidden;
    z-index: 99999;
    border: 0;
    border-radius: 0;
}

.heads-up {
    transform: translateY(-104px);
    transform: translate3d(0,-104px,0);
}

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul { 
  margin: 0; 
  padding: 0; 
}

.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  border-left: .1rem solid #555;
}

main { 
  padding: 10rem 6rem;
  background: #EEE;
}


#clouds-background{
    background: url(../img/coulds.png) center bottom no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
#particles-background,
#particles-foreground {
    background: url(../img/backround.png) repeat;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
    position: absolute;
    left: -51%;
    top: -51%;
    margin-top: -60px;
    width: 202%;
    height: 219%;
}
#particles-background {
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg, #ecf2f4 2%, #d7e2e6 100%);
  background-image: -webkit-linear-gradient(45deg, #ecf2f4 2%, #d7e2e6 100%);
  background-image: linear-gradient(45deg, #ecf2f4 2%, #d7e2e6 100%);
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
[not-existing] {
  zoom: 1;
}

/*------------------------------------------------------------------
	4. navbar
-------------------------------------------------------------------*/

.navbar-brand {
    height: auto;
    padding: 32px 15px;
}

.navbar-brand img {
    width: 130px;
}

.full-nav{
    margin-bottom: 0;
}


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}


.nav>li>a:before {
	transition: all 0.2s ease-in-out;
    content: '';
    background: #d9b5ff;
    width: 7px;
    float: left;
    display: block;
    height: 7px;
    margin-top: 6px;
    left: 11px;
    border-radius: 21px;
    position: absolute;
}

.nav>li>a:after {
	transition: all 0.2s ease-in-out;
    content: '';
    background: #d9b5ff;
    width: 7px;
    float: left;
    display: block;
    height: 7px;
    margin-top: -14px;
    left: 11px;
    border-radius: 21px;
    position: absolute;
}
.nav>li>a:hover:after {
	transition: all 0.2s ease-in-out;
    content: '';
    background: #9bd8f5;
    left: 2px;
}


.nav>li>a {
    padding: 42px 26px;
    color: #446085;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}

.chat-brn:after,.chat-brn:before  {
	content: '';
	display:none !important;
}

.chat-brn span{
	background: #ecf1f3;
    padding: 4px 16px;
    border-radius: 30px 0 0 30px;
}

.chat-brn:hover span{
    background: #e9edef;
}

.chat-brn{
    padding: 41px 0px !important;
	border:0 !important;
}

.chat-brn img{
    width: 39px;
    margin-top: -4px;
    margin-left: -9px;
}

.header-top-titte{
    z-index: 1;
    position: relative;
    text-align: center;
    height: 454px;
    padding: 40px 0px;
    padding-top: 125px;
}

.header-top-titte h5{
    font-size: 22px;
    color: #35465d;
    font-weight: 100;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
}



/*------------------------------------------------------------------
	5. domain search style
-------------------------------------------------------------------*/

#domain-search{
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 24px;
    margin-top: -67px;
}


#domain-search input[type="text"]{
    padding: 22px 56px;
    border-radius: 68px;
    font-size: 18px;
    border: 0;
    width: 650px;
    font-weight: bold;
    color: #35465d;
    box-shadow: 3px -4px 95px 6px rgba(138, 163, 171, 0.59);
}

.navbar-toggle .icon-bar {
    background: #253d58;
}

.navbar-toggle {
    padding: 32px 10px;
}
.header-background .navbar-toggle {
    padding: 22px 10px;
}

#domain-search input[type="text"]:focus{
    outline-width: 0;
}



#domain-search .srch-btn{
    position: absolute;
    background: #96e97d;
    border: 0;
    font-size: 32px;
    color: #fff;
    margin-left: -67px;
    padding: 8px 17px;
    border-radius: 76px;
    margin-top: 4px;
}


#domain-search .srch-btn:hover{
    background: #84d26d;
}


/*------------------------------------------------------------------
	6. first section style
-------------------------------------------------------------------*/


#fist-section{
    padding: 60px 0;
    margin-top: -50px;
    background: #253d58;
    z-index: 1;
    position: relative;
    box-shadow: 0px 10px 125px 39px rgba(167,196,214,1);
}



.homepage-tabs a{
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: -10px;
    padding: 35px 5px;
    border-radius: 5px;
}

.homepage-tabs a:hover{
    background: #223850;
	text-decoration: none;
}

.homepage-tabs .active a{
    background: #1b2e42;
	text-decoration: none;
}

.homepage-tabs .active a:hover{
    background: #192a3c;
	text-decoration: none;
}

.homepage-tabs a>i{
    display: -webkit-inline-box;
}
.homepage-tabs a>i:before{
    font-size: 50px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.homepage-tabs a>span{
    color: #fff;
    font-size: 12px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    border-radius: 50px;
    margin-top: 3px;
    letter-spacing: 0.4px;
}

/*------------------------------------------------------------------
	7. second section style
-------------------------------------------------------------------*/

#second-section{
    padding: 60px 0;
    background: radial-gradient(rgba(255, 255, 255, 0.18) 15%, rgba(0, 0, 0, 0) 16%), radial-gradient(rgba(102, 204, 255, 0.21) 15%, rgba(0, 0, 0, 0) 16%), #81c56c;
    background-position: 0 0, 30px 30px;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 60px 60px;
    box-shadow: inset -2px -2px 72px -16px rgba(0, 0, 0, 0.35);
    z-index: 2;
    position: relative;
}


.tabs-text{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Rubik', sans-serif;
}

.tabs-text span{
    font-weight: bold;
}

#third-section{
    background: #fff;
    padding: 100px 0;
    padding-bottom: 30px;
}

#fourth-section{
    padding-top: 70px;
    padding-bottom: 20px;
}

.tittle-page{
    text-align: center;
    font-size: 25px;
    color: #6eb0dc;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.9px;
}

.tittle-page span{
    display: block;
    color: #839cb2;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.7px;
    text-transform: none;
}


/*------------------------------------------------------------------
	8. pricing table style
-------------------------------------------------------------------*/


.pricing-table{
    background: #fff;
    border: 2px solid rgba(110, 176, 220, 0.09);
    padding: 40px 20px;
    text-align: center;
    border-radius: 21px;
}


.pricing-table-active{
    -webkit-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -5px rgb(184, 197, 206);
    transform: scale(1.04);
}




.pricing-table:hover{
    -webkit-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -5px rgb(184, 197, 206);
    transform: scale(1.04);
}


.pricing-table:hover .tittle-pricing span {
    width: 80px;
}


.tittle-pricing{
    font-size: 22px;
    font-weight: bold;
    color: #38434a;
    text-transform: uppercase;
}

.tittle-pricing span{
    display: block;
    height: 2px;
    width: 30px;
    background: #475b69;
    margin: auto;
    margin-top: 3px;
}

.amount-pricing{
    margin: 30px 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f8fc;
}

.currency{
    font-weight: bold;
    color: #beefc6;
    font-size: 20px;
}

.amount{
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: #81d28d;
}

.table-fetures ul{
    padding-left: 0;
    margin-top: 35px;
}

.table-fetures ul>li{
    font-weight: 100;
    font-size: 16px;
    background: rgba(242, 248, 252, 0.48);
    padding: 5px;
    border-radius: 6px;
    border: 1px solid rgba(239, 241, 243, 0.39);
    margin-bottom: 8px;
}


.table-fetures ul>li>span{
    background: #81d28d;
    float: left;
    padding: 4px 7px;
    margin-left: -6px;
    margin-top: -6px;
    border-radius: 4px 0 0 4px;
}

.table-fetures ul>li>span:before{
    margin-left: 2px;
    font-size: 18px;
    color: #fff;
}

.do-area{
    margin-top: 100px;
    background-color: #f5f8fa;
    padding: 40px 0;
    color: #336786;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.do-area .col-md-4{
    text-align:center
}

/*------------------------------------------------------------------
	9. third section style
-------------------------------------------------------------------*/


.spcl-services{
	cursor: pointer;
    padding: 13px 20px;
    border-radius: 6px;
    background: #192a3e;
    color: #fff;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.spcl-services:before {
	border: rgba(225, 225, 225, 0) solid 2px !important;
    border-radius: 6px;
}
.spcl-services:hover{
    background: #88c6f0;
    color: #fff;
}

.spcl-services:hover:before {
	border: rgb(136, 198, 240) solid 2px !important;
    border-radius: 6px;
}

.spcl-services i:before {
    margin-left: 0;
    font-size: 35px;

}

.conter-align{
    text-align:center
}



.spcl-offr h5{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
}

.spcl-offr p{
    margin-top: -6px;
    text-transform: none;
    color: #9c9fa5;
    font-size: 13.5px;
    padding: 0 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

.mrgntopbbr{
    margin: 40px 0 100px 0;
}


/*------------------------------------------------------------------
	10. fourth and half section style
-------------------------------------------------------------------*/

#fourth-and-half-section{
	overflow: hidden;
    background: #f8fafb url(../img/wav-bg.png) center center;
    background-repeat: repeat-x;
    padding: 75px 0;
    border-top: 1px solid #f4f6f7;
    border-bottom: 1px solid #f4f6f7;
}

.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.clients-side{margin: 0 -130px;}


#our-clients{
	position:relative;
}
.cients-holder{
	position:relative;
    min-height: 200px;
    width: 100%;
    background: #fff;
    border-left: 50px solid #92d89d;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.16);
}
.cients-holder:hover{
    -webkit-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.46);
}

.cients-holder .client{
    position: absolute;
    left: -30px;
    top: 20px;
}

.cients-holder .client img{
    width: 60px;
    border-radius: 40px;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 29px -6px rgba(0,0,0,0.46);
}

.cients-holder .client-info{
    padding: 22px 0 10px 40px;
}

.cients-holder .client-info h5{
    font-weight: bold;
    font-size: 15px;
    color: #86ca91;
    text-transform: capitalize;
}

.cients-holder .client-info h5>span{
    display: block;
    margin-top: 5px;
    font-weight: 100;
    font-size: 13px;
    color: #647177;
}
.cients-holder .client-comm{
    font-weight: 100;
    font-size: 13px;
    line-height: 23px;
    padding-left: 37px;
    color: #a7b8bf;
    text-transform: initial;
    font-style: italic;
    padding-right: 14px;
}


.sponsor-place{
    display: block;
    float: left;
    width: 100%;
    padding: 65px 0 0px 0;
}

.sponsor-place a{
    display: block;
    text-align: center;
    padding: 14px 9px;
}
.sponsor-place a>img{
    width: 100%;
    max-width: 130px;
    opacity: 0.6;
}
.sponsor-place a:hover>img{
    opacity: 1;
}



/*------------------------------------------------------------------
	11. our place section style
-------------------------------------------------------------------*/
#our-place{
    background: #32414d url(../img/map.jpg) center center;
    padding: 80px 0;
    background-size: cover;
}

#our-place .place-tittle h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 22px;
    color: #c0ced8;
    margin-top: 10px;
	margin-bottom:30px;
}

#our-place .our-plce-tittle{
    position: relative;
    background: #1e252b;
    padding: 50px;
    padding-left: 80px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 39px -5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 39px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 39px -5px rgba(0, 0, 0, 0.25);
}

#our-place .our-plce-tittle img{
    position: absolute;
    width: 18px;
    left: 34px;
}

#our-place .our-plce-tittle>h3{
    margin-top: 0;
    color: rgba(131, 156, 174, 0.68);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#our-place .our-plce-tittle .address{
    color: #707f8a;
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    text-transform: capitalize;
}

#our-place .our-plce-tittle .address>span{
    display: block;
    margin-bottom: 2px;
}

#our-place .our-plce-tittle .mobandmail{
    margin-top: 20px;
    color: #e3e9ec;
    font-size: 13px;
    font-weight: 100;
    border-top: 1px solid #2d353e;
    padding-top: 11px;
}
#our-place .our-plce-tittle .mobandmail>span{
    display: block;
    margin-bottom: 2px;
}


/*------------------------------------------------------------------
	12. fifth section style
-------------------------------------------------------------------*/

#fifth-section{
    padding: 80px 0 100px 0;
    background-color: #fff;
    border: 1px solid #f5f5f5;
}


#fifth-section .col-md-5{
    padding: 0;
}

#fifth-section .col-md-5 img{
    width: 100%;
    max-width: 331px;
}
#fifth-section .col-md-5 {
    text-align:left;
}

.simple-text-quote{
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    padding: 60px 80px 20px 30px;
}


.simple-text-quote{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 60px 80px 20px 30px;
    color: #5d6770;
}

.simple-text-quote .big-one{
    margin-right: 5px;
    text-transform: uppercase;
}

.simple-text-quote .big-one:before{
    margin-right: 8px;
    content: "\f10d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #192a3e;
    -moz-osx-font-smoothing: grayscale;
}

.simple-text-quote .sub-text{
    font-weight: 400;
    font-size: 14px;
    color: #73909d;
    display: block;
    margin-top: 7px;
    line-height: 18px;
}

.info-qouate{
    padding: 30px 0 10px 32px;
}


.info-qouate h3{
    margin-top: 7px;
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.info-qouate span{
    font-weight: bold;
    font-size: 14px;
    color: #84939c;
}

.help-center{
    padding: 50px 0;
}

.help-center h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 23px;
    color: #a6b6c1;
}

.help-center h3>span{
    display: block;
    margin-top: 8px;
    font-size: 10px;
    background: #3d474f;
    width: 196px;
    text-align: center;
    color: #fff;
    padding: 8px;
    border-radius: 40px;
}

.help-center ul{
    padding: 0;
    margin-top: 60px;
}

.help-center ul>li{
    padding: 8px 0;
}

.help-center ul>li>a{
    font-weight: 600;
    color: #cdd4d8;
}

.help-center ul>li>a:hover{
    font-weight: 600;
    color: #aeb6bb;
	text-decoration:none;
}

.help-center ul>li>a>span{
    background: rgba(161, 186, 255, 0.71);
    color: #fff;
    padding: 0px 5px;
    border-radius: 13px;
    margin-right: 6px;
}
.help-center .btn-holder{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 45px;
}



/*------------------------------------------------------------------
	13. social icons style
-------------------------------------------------------------------*/

#social-icons{
    border-bottom: 2px solid #f5f5f7;
}


#social-icons ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

#social-icons ul>li {
    display: -webkit-inline-box;
}

#social-icons ul>li>a {
    font-size: 35px;
    padding: 50px 65px;
    display: block;
    color: #cdcdcd;
}

#social-icons .fbico:hover {
    background: #3b5998;
	color:#fff;
}
#social-icons .twico:hover {
    background: #56a3d9;
	color:#fff;
}

#social-icons .inico:hover {
    background: #007bb6;
	color:#fff;
}

#social-icons .goico:hover {
    background: #dd4b39;
	color:#fff;
}

#social-icons .drico:hover {
    background: #56a3d9;
	color:#fff;
}

#social-icons .yoico:hover {
    background: #bf221f;
	color:#fff;
}


/*------------------------------------------------------------------
	14. contact form style
-------------------------------------------------------------------*/


#contact-form{
    padding: 40px 0;
    background-color: #ffffff;
}

#contact-form .contact-tittle{
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 30px;
}

.field label{
    display: block;
}

.field input[type="text"],.field input[type="email"]{
    width: 100%;
    font-size: 13px;
    padding: 7px;
    border: 0;
    border-bottom: 2px solid #dce2e6;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.field input[type="text"]:focus,.field input[type="text"]:hover,.field input[type="email"]:focus,.field input[type="email"]:hover{
	outline-width: 0;
    border-bottom: 2px solid #88c6f0;
}

.field textarea{
    width: 100%;
    font-size: 13px;
    padding: 7px;
    border: 0;
    border-bottom: 2px solid #dce2e6;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
	min-height: 113px;
}

.field textarea:focus,.field textarea:hover{
    outline-width: 0;
    border-bottom: 2px solid #88c6f0;
}

#contact-form .success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#contact-form .error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.btn-holder-contect{
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0;
}

.btn-holder-contect button{
    background: #7dbbe4;
    border: 0;
    padding: 12px 80px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 40px;
}


.btn-holder-contect button:hover,.btn-holder-contect button:focus{
    background: #65a0c7;
    color: #fff;
	outline-width: 0;
}

/*------------------------------------------------------------------
	15. footer style
-------------------------------------------------------------------*/

footer{
    padding: 40px 0;
    border-top: 1px solid #f5f5f7;
}

.copyright-footer{
    font-weight: bold;
    line-height: 27px;
    font-size: 13px;
    color: #9E9E9E;
    text-align: center;
}

.contact-info{
    text-align: center;
    font-weight: bold;
    color: #63727b;
}




.no-js #loader { display: none;  }


.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background: #e4ecef;
	}
	
.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 65px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

#not-index-header {
    height: 101px;
}
